@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
.f-word{
    font-family: 'Anton', sans-serif;
    font-size: 1.75rem;
    color: hsl(199, 37%, 35%);
    -webkit-text-stroke: 1px black;
}
.m-word{
    font-family: 'Londrina Shadow', cursive;
    font-size: 1.87rem;
}
.l-word{
    font-family: 'Londrina Shadow', cursive;
    font-size: 1.87rem;
}
.option{
    margin-top: 12vh;
    font-family: 'Space Mono', monospace;
    color: #2f3234;
}
.other-options{
    padding-top: 2rem;
    padding-left: 3rem;
}
input.nosubmit {
    border-radius: 2rem;
    width: 20vw;
    border: 1px solid rgba(255,255,255,1);
    display: block;
    padding: 9px 4px 9px 40px;
    background: rgba(255,255,255,0.4) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    font-family: 'Space Mono', monospace;
  }